---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>
				Hi 😀 Welcome to my site
			</h3>
			<p>
				My name is Thomas and I'm a software engineer and computer science student 
				experienced in full stack development.
			</p>
			<p>
				I'm also interested in cyber security. If you're curious about that, feel free to
				check out my university Group <a href="https://kitctf.de" target="_blank">KITCTF</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
