---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Thomas Wienecke"
	description="About me and my site"
	pubDate={new Date('October 06 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h3>About me</h3>
	<p>
		My name is Thomas and I'm interested in computer science 💻 
		(particularly cyber security, devops and homelabbing) and cooking vegan food 🥘.
	</p>
	<p>
		I'm currently studying computer science at the Karlsruhe Institute of Technology (KIT).
		Also I'm a working student at abusix building a network security platform.
	</p>
	<p>
		In my spare time I'm working on my homelab or participating in CTFs. 
		If you're curious about cyber security, feel free to check out 
		the university group <a href="https://kitctf.de" target="_blank">KITCTF</a> 
		that I'm participating in.
	</p>
</Layout>
