---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
---

<Base>
	<html lang="en">
		<head>
			<BaseHead title="About me" description="About me and my site" />
			<style>
				main {
					width: calc(100% - 2em);
					max-width: 100%;
					margin: 0;
				}
				.prose {
					width: 720px;
					max-width: calc(100% - 2em);
					margin: auto;
					padding: 1em;
					color: rgb(var(--gray-dark));
				}
				.title {
					margin-bottom: 1em;
					padding: 1em 0;
					text-align: center;
					line-height: 1;
				}
				.title h1 {
					margin: 0 0 0.5em 0;
					font-size: 3.3em;
				}
				.title-div {
					display: flex;
					justify-content: space-around;
					flex-direction: row;
					align-items: center;
				}

				.title-div img {
					border-radius: 50%;
					width: 240px;
					height: 240px;
					object-fit: cover;
				}
			</style>
		</head>

		<body>
			<Header />
			<main>
				<article>
					<div class="prose">
						<div class="title">
							<div class="title-div">
								<img src="/AI_Selfie.jpg" alt="" />
								<h1>About me</h1>
							</div>
						</div>
						<hr />
						</br>
						<>
							<p>
								My name is Thomas and I'm passionate about computer science, especially cybersecurity, devops and homelabs. 
								In addition I enjoy cooking vegan food 🥘.
							</p>
							<p>
								I'm currently pursuing a Master's degree in Computer Science at Karlsruhe Institute of Technology (KIT) 
								while working as a student at abusix where I am involved in building a network security platform.
							</p>
							<p>
								During my free time, I work on my homelab or engage in CTFs. 
								If you are interested in cybersecurity, I recommend checking out <a href="https://kitctf.de" target="_blank">KITCTF</a>, 
								the university group in which I participate.
							</p>
						</>
					</div>
				</article>
			</main>
			<Footer />
		</body>
	</html>
</Base>
