<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script>
            import * as Sentry from '@sentry/browser';

            Sentry.init({
                dsn: import.meta.env.PUBLIC_SENTRY_PROJECT_KEY,
            });

            throw new Error("test errrrr")
        </script>
    </head>
    <body>
        <slot/>
    </body>
</html>
